// for theme importing
@use 'sass:map';
@use '@angular/material' as mat;
@import '../../styles.scss';

// load the color config
$color-config: mat.get-color-config($project-management-app-theme);

// get the chosen palette : primary
$primary: map.get($color-config, 'primary');
$accent: map.get($color-config, 'accent');
$secondary: map.get($color-config, 'secondary');

.details-card {
  max-width: 500px;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-title {
  font-size: 24px;
  font-weight: 600;
}

.example-full-width {
  width: 100%;
}

.first-input {
  margin-bottom: 16px;
}

mat-form-field {
  margin-bottom: 16px;
}

mat-checkbox {
  margin-bottom: 16px;
  font-size: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

button {
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}