<div class="navbar-container">
    <div class="header-container">
        <h1 id="title">Project Management App</h1>
    </div>
    <div class="nav-button-container">
          <button class="pagebuttons" (click)='active("H")' [ngClass]="{'active': activeButton == 'H'}"><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></button>
          <button class="pagebuttons" (click)='active("SI")' [ngClass]="{'active': activeButton == 'SI'}"><a routerLink="/sign-up" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a></button>
          <button class="pagebuttons" (click)='active("TSI")' [ngClass]="{'active': activeButton == 'TSI'}"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></button>
    </div>
  </div>