<div class="navbar-container">
    <div class="header-container">
        <h1 id="title">Project Management App</h1>
    </div>
    <div class="nav-button-container">
          <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" id="home">Home</a>
          <a routerLink="/sign-up" routerLinkActive="active" ariaCurrentWhenActive="page" id="signup">Sign Up</a>
          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" id="login">Login</a>
  </div>

