// for theme importing
@use 'sass:map';
@use '@angular/material' as mat;
@import '../../styles.scss';

// load the color config
$color-config: mat.get-color-config($project-management-app-theme);

// get the chosen palette : primary
$primary: map.get($color-config, 'primary');
$accent: map.get($color-config, 'accent');
$secondary: map.get($color-config, 'secondary');

.complete {
  background: #d9e5ff;
}

.progress-card {
  width: 100%;
  height: 150px;
  z-index: 0;
  display: block;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: inset;
  border-radius: 2vh;
  padding-right:0px;

  .member-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10vh, 0, 10vh, 0;
  }

  .bar {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 15px;
    margin-right: auto;
    height: 20px;
  }

  .progress-text{
      font-size: 18px;
  }

  .display-percent {
    display: inline-block;
    margin-left: 0.5vw;
    font-size: 1vw;
    padding-right: 0;
  }
}

.progress2 {
  display: inline-block;
  border-radius: 30px;
  background-color: inherit;
  width: 80%;
}

.bar-bg {
  margin: 0px, 0px, 0px, 0px;
  height: 6px;
  border-radius: 3px;
  background-color: mat.get-color-from-palette($accent, 200);
  width: 100%;
}

.progress-bar {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar {
  animation: progress 4s forwards;
  display: inline-block;
}



@keyframes progress {
  0% {
    width: 0%;
    background: #36315c;
  }

  100% {
    width: var(--size);
    background: #6193ff;
    box-shadow: 0 0 10px #6193ff;
  }
}



