// for theme importing
@use 'sass:map';
@use '@angular/material' as mat;
@import '../../styles.scss';

// load the color config
$color-config: mat.get-color-config($project-management-app-theme);

// get the chosen palette : primary
$primary: map.get($color-config, 'primary');
$accent: map.get($color-config, 'accent');
$secondary: map.get($color-config, 'secondary');


.manage-card {
  width: 40vw;
  height: 80vh;
}

.title {
  font-size: 3vh;
  width: 40vh;
  font-weight: bold;
  margin: 1vh 10vw 0.5vh 1vw;
  height: 5vh;

}

button {
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
