.example-card {
  height: 80vh;
  width: 500px;
}

.example-full-width {
  width: 100%;
}

// adds necessary margin
.margin {
  margin: 15px;
}

// holds everything in this component
.container {
  text-align: -webkit-center;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

// controls the main image
.main-img {
  height: 80vh;
  width: 30vw;
  object-fit: cover;
}
  

// adds space between tab and first input field
.first-input {
  margin-top: 20px;
}

.main{
    display: flex;
    justify-content:center;
    align-items:center;
}

.submit-button{
    position: absolute;
    width: 150px;
    bottom: 10px;
    display: block;
}

.tab {
  overflow: hidden;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
