// for theme importing
@use 'sass:map';
@use '@angular/material' as mat;
@import '../styles.scss';

// load the color config
$color-config: mat.get-color-config($project-management-app-theme);

// get the chosen palette : primary
$primary: map.get($color-config, 'primary');

@mixin color($theme) {
  .title {
    background-color: $md-darkblue;
  }
}

.container {
  height: 100%;
  width: 100%;
  background-color: mat.get-color-from-palette($primary);
}

app-sign-in-page {
  position: center;
  top: 50%;
  left: 50%;
  //transform: translate(-50%, -50%);
}

.title-overlay {
  left: 0px;
}
