<div class="container">
  <app-inner-navbar></app-inner-navbar>
  <div class="whitespace"></div>
  <div class="main-content">
    <mat-card class="teamSidebar">
      <app-progress-card *ngFor="let user of users"
                         percent={{user.percent}}
                         name={{user.name}}>
      </app-progress-card>
    </mat-card>
    <div class="tasks-section">
      <app-task-card  *ngFor="let task of tasks"
                      title ={{task.title}}
                      dueDate ={{task.dueDate}}
                      desc ={{task.desc}}>
      </app-task-card>
    </div>
  </div>
</div>
