<div>
  <mat-card>
    <mat-card-content>
      <app-inner-navbar></app-inner-navbar>
      <div class="whitespace"></div>
      <mat-card class="teamSidebar">
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let number of progress" class="team-member-progress">
              <mat-label class="progress-title">*Team Member Name*</mat-label>
              <mat-progress-bar mode="determinate" value={{number}} color=accent></mat-progress-bar>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
