<header class="navbar">
    <mat-toolbar color="accent">
      <div class="navbar-title" (click)="showMain()">
        Project Name
      </div>
      <div class="navbar-progress">
        Your Progress
      </div>
      <mat-progress-bar mode="determinate" value="50" class="bar"></mat-progress-bar>
      <div class="navbar-button">
        <button mat-button  (click)="goToTimeline()">Timeline</button>
        <button id="signoutButton" mat-button (click)="signOutButton()">Sign Out</button>
      </div>
      <div class="navbar-menu">
        <button id="hamburger" mat-icon-button (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </header>
  <mat-sidenav #sidenav mode="side" position="end">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
