<header class="navbar">
    <mat-toolbar color="accent">
      <div class="navbar-title">
        Project Name
      </div>
      <div class="navbar-progress">
        Your Progress
      </div>
      <mat-progress-bar mode="determinate" value="50" class="bar"></mat-progress-bar>
      <div class="navbar-button">
        <button mat-button>Timeline</button>
        <button mat-button (click)="signOutButton()">Sign Out</button>
      </div>
      <div class="navbar-menu">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </header>
  